apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-redis
spec:
  replicas: {{ .Values.redis.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-redis
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-redis
    spec:
      containers:
        - name: {{ .Chart.Name }}-redis
          image: "{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}"
          imagePullPolicy: {{ .Values.redis.image.pullPolicy }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-postgresql
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-postgresql
    spec:
      containers:
        - name: {{ .Chart.Name }}-postgresql
          image: "{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}"
          imagePullPolicy: {{ .Values.postgresql.image.pullPolicy }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-postgresql-secrets
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-postgresql-secrets
                  key: password
            - name: PGDATA
              value: /data/pgdata
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-postgresql-config          
          volumeMounts:
            - name: postgresql-data
              mountPath: /data
      volumes:
        - name: postgresql-data
          persistentVolumeClaim:
            claimName: {{ .Chart.Name }}-postgresql-data
---
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-gotenberg
spec:
  replicas: {{ .Values.redis.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-gotenberg
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-gotenberg
    spec:
      containers:
        - name: {{ .Chart.Name }}-gotenberg
          image: "{{ .Values.gotenberg.image.repository }}:{{ .Values.gotenberg.image.tag }}"
          imagePullPolicy: {{ .Values.gotenberg.image.pullPolicy }}
          command:
            - "gotenberg"
            - "--chromium-disable-javascript=true"
            - "--chromium-allow-list=file:///tmp/.*"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-tika
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-tika
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-tika
    spec:
      containers:
        - name: {{ .Chart.Name }}-tika
          image: "{{ .Values.tika.image.repository }}:{{ .Values.tika.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: tika
              containerPort: 9998
              protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-n8n-postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-n8n-postgresql
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-n8n-postgresql
    spec:
      containers:
        - name: {{ .Chart.Name }}-n8n-postgresql
          image: "{{ .Values.n8n.postgresql.image.repository }}:{{ .Values.n8n.postgresql.image.tag }}"
          imagePullPolicy: {{ .Values.n8n.postgresql.image.pullPolicy }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-n8n-postgresql-secrets
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-n8n-postgresql-secrets
                  key: password
            - name: PGDATA
              value: /data/pgdata
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-n8n-postgresql-config          
          volumeMounts:
            - name: n8n-postgresql-data
              mountPath: /data
      volumes:
        - name: n8n-postgresql-data
          persistentVolumeClaim:
            claimName: {{ .Chart.Name }}-n8n-postgresql-data
---
